apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: sno-cluster
rendezvousIP: {{ rendezvous_ip }}
hosts:
  - hostname: master-0
    interfaces:
      - name: eno1
        macAddress: {{ server_mac }}
    rootDeviceHints:
      model: CT2000P5PSSD8
