apiVersion: v1
baseDomain: fritz.box
compute:
- name: worker
  hyperthreading: Enabled
  architecture: amd64
  replicas: 0
controlPlane:
  architecture: amd64
  name: master
  hyperthreading: Enabled
  replicas: 1
metadata:
  name: shenzhen
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 192.168.178.0/24
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ lookup('file', '~/.ssh/id_rsa.pub') }}
